.headerbg
{
    background:url('https://i.ibb.co/NF0tf8z/Rectangle-4281.png') , linear-gradient(#ffffffe5,#ffffffe7);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid white;
}

.buttonbg
{
    background: linear-gradient(#0000009d,#0e0d0d70);
        background-blend-mode: overlay;
        width: 100%;
}